.git
.gitignore
.agents
.freebuff
.vercel
node_modules
**/node_modules
**/dist
**/__pycache__
**/*.pyc
*.log
.env
**/.env
*.env.local
mk/mk/Fittrack/django_backend/.env
mk/mk/Fittrack/django_backend/staticfiles
mk/mk/Fittrack/django_backend/db.sqlite3
mk/mk/product_images
product_images
.pytest_cache
.vscode