# Django settings
SECRET_KEY=change-this-in-production
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Database: sqlite | mysql
DB_ENGINE=mysql

# MySQL settings (DB_ENGINE=mysql hone par use hoga)
DB_NAME=fittrack_db
DB_USER=root
DB_PASSWORD=kuldip2612
DB_HOST=127.0.0.1
DB_PORT=3306
